$main-font: 'Montserrat';
$subtitles-font: 'Kaushan-Script';
$plain-text-font: 'Roboto';

$gradient-clor-1: rgba(243, 129, 129, 0.9);
$gradient-clor-2: rgba(252, 227, 138, 0.9);
$banner-text-colot: #ffffff;
$main-style-coor-1: #f38181;
$main-style-coor-2: #fce38a;
$main-style-coor-3: #95e1d3;
$text-color: #999999;
$foter-border-color: #e7e7e7;
$foter-text-color: #333333;

$logo-font-size: 30px; 
$main-font-size: 14px;
$header-subtitle-font-size: 72px;
$header-title-font-size: 150px

