.galleryList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.gallery__image {
    width: 380px;
    height: 280px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}