.Item {
  display: flex;
  margin: 10px 0;
  align-items: center;
  border: 1px solid #c0c0c0;
  box-shadow: 0 0 5px;
}
.StatusIsOnline,
.StatusIsOfline {
  width: 20px;
  height: 20px;
  margin: 15px;
  border-radius: 50%;
}
.StatusIsOnline {
  background-color: rgb(0, 255, 0);
}
.StatusIsOfline {
  background-color: rgb(255, 0, 0);
}
.Avatar {
  width: 60px;
  height: 60px;
  border-radius: 6px;
}
.Name {
  margin: 15px;
}
